# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# Virtual environment
.venv/
venv/

# Data (generert)
data/*.gcode
data/*.png
data/*.jpg
data/debug*
data/info.txt

# Logg
Logg.txt

# OS
.DS_Store
Thumbs.db
